<!-- views/girls.handlebars -->
    <div class="jumbotron">
        <h2>Meet your contestants!</h2>
    </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">The Girls</h3>
    </div>
    <div class="panel-body">
    <div id="contestants" class="row row-centered">
    <img src="/images/heart.svg" id="loading-indicator" style="display:none" />
    </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"    type="text/javascript"></script>
    <script id="contestant-template" type="text/x-handlebars-template">
          <div class="col-xs--6 col-md-3 col-centered">
            <h4>\{{name}}
            \{{#if eliminated}}
                <span class="label label-danger">Eliminated</span></h4>
            \{{else}}
                <span class="label label-success">Active</span></h4>
            \{{/if}}
            <span class="text-muted">
                <h5>Points: \{{points}}</h5>
            </span>
            <img src="/images/\{{image}}" width="200">
            <br><br><br>
          </div>
    </script>
    <script id="getContestants" src="js/getContestants.js" type="text/javascript"></script>
  </div>
  <hr>
  <footer><p>Any association with PrinceFarming is purely coincidential.  This is a "fan" work.</p></footer>
