<!-- views/rules.hanldebars -->
<h1 class="page-header">The Rules</h1>
<p>
The problem with running a team-based fantasy league agains a show like The Bachelor is that the crop of players grows ever smaller through the season as the crazy girls get old and the producers get bored.  To get around this, The Fantasy Rose holds weekly auctions to divvy up the girls (as well as Chris and #PrinceFarming).
</p>
<h2>Auction <small>It's all about the money</small></h2>
<p>
Players will be allocated a total of 10,0000 rosebux to spend throughout the season on girls that they deem valuable.  This may seem like a lot, but be careful, it has to last the entire season, from the First Impression rose to the Fantasy Suite.
</p>
<ul>
    <li>On the Friday before each episode, the auction will open for the show airing on the following monday.  From then until the show starts, the auction is open for bidding.</li>
    <li>During that time, you may bid on the girls you want on your team that week.  The total size will be capped based on how many are in your league and how many contestants are remaining.</li>
    <li>Run out of money? Es ok. Well, not really.  If you run out of money, then your season is over.</li>
</ul>
<h2>Recording the Action <small>Points show up when things get cray cray</small></h2>
<p>
Naturally, the contestants are awarded points based on their antics in the house.  Oh snap, did Tara just push Lequicia into the pool? I hope so, because that'd get her 10 points. Get a rose early? Step right up and collect your points.  Kiss the man? POINTS.  Get lucky? MAD TYTE POINTS.
</p>
<p>
Ah, but it's a double-edged sword.  Remember Lequicia? Sucks to be her, because she just lost points for getting all that chlorine in her hair.  Prince Farming won't like that one bit.  Eliminated? OUCH, that's no good for points.  Before you know it, you'll be screaming at your fantasy team louder than Ru Paul getting to do Neal Patrick Harris' makeup.<br><br>
<img src="/images/rupaul.gif" height="205">
</p>
<p>
Here's a list of the triggers that are worth them sweet, sweet, points:
</p>
<div class="well well-lg">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Action</th>
                <th>Point Value</th>
                <th>Modifier</th>
            </tr>
            </thead>
            <tbody>
            {{#each triggers}}
                <tr>
                    <td>{{path.key}}</td>
                    <td>{{value.points}}</td>
                    <td>{{value.modValue}} per {{value.modUnit}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
<h2>Sorting through the Aftermath <small>What do all these points MEAN?</small></h2>
<ul>
    <li>After each episode, the tallies from your players are added up and added to your season total.
    <li>At the end of the season, the player with the most points wins!
    <li>Because there's no win-loss record (only total points), it is possible to not play each week and still win.  That being said, a wise person once said, 'I don't want to be the Juan Pablo of Fantasy Rose'.  Think ahead and spend wisely.</li>
</ul>
